#katec{
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
}

body{
    height: 100vh;
    margin: 0;
    font-family: 'roboto', sans-serif;
    background-color: #f2f2f2;
}

input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
input:hover{
    box-shadow: 0 0 5px #555;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0d0e0d;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #555555;
}

ul{
    list-style-type: none;
    padding: 0;
    
    
}
li{
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
    width:435px;
    display: flex;       
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
}

#lista{
    display: flex;
    align-items: center;
    flex-direction: column
}
span{
    cursor: pointer;
}